.background-img{
    background: url(../img/mount.jpg) fixed;
    color:black;
    min-height: 700px;
	margin-top: 0px;
    padding-top: 100px;
}
/* Hover Effect from thecodeplayer.com */
.navbar li{
	width: 120px; 
    border-left: 5px solid #666;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
}
/* Hover Effect from thecodeplayer.com */
.navbar li:hover{
    background:#666;
	padding-left: 5px;
}

.quotes{
    background: white;
    -webkit-text-stroke: 1px black;
}

.about-me{
    background: url(../img/river.jpg) fixed;
    color:white;
}

.stroke_white{
    -webkit-text-stroke: 1px white;
}

.jumbotron .row .col-md-6 .container{
    background: rgba(245, 245, 245, 0.6);
    color:black;
    border-radius:10px;
}
.skills{
    background:white;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 100px;
}
.row-centered{
    text-align:center;
}
.col-centered{
    text-align:center;
}

.skills img{
    opacity: 0.6;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
}

.skills img:hover{
    opacity: 1.0;
}
.navbar-fixed-bottom{
    bottom:0;
}
.skills .container{
    margin-left:0px;
}
