.breadCalc{
    width:inherit;
    min-height: 100%;
    width:100%;
    background-color:black;
}

.breadCalc #breadCalcTitle{
    padding-top: 10%;
    padding-left: 10%;
}

.breadCalc .col-md-8{
    padding-top: 20%;
    padding-left: 10%;
    padding-right: 10%;
}

.ParkNEat{
    width:inherit;
    min-height:100%;
    width:100%;
    background-color:black;
}
.ParkNEat .col-md-4{
    padding-top: 10%;
    padding-right:10%;
}

.ParkNEat #pneDescr{
    padding-top: 20%;
    padding-left: 10%;
    padding-right: 10%;
}

.shopOnline{
    width:inherit;
    min-height:100%;
    width:100%;
    background-color:black;
}
.shopOnline #title{
    padding-top: 10%;
    padding-left: 10%;
}

.shopOnline #desc{
    padding-top: 20%;
    padding-left: 10%;
    padding-right: 10%;
}